@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<hr />
<h3>@ViewData["Message"]</h3>

<p>
    We offer the following to our users:
    <ol>
        <li>Free entertaiment - the ability to watch live matches between your favourite champions</li>
        <li>The ability to win big time by betting on your favourite champions</li>
        <li>The ability to enlist yourself as a champion and fight your way to glory!</li>
    </ol>
</p>
<hr>
<h2>Meet our team!</h2>

<div class="row">
    <div class="column2">
        <div class="content">
            <img src="~/images/p1.jpg" alt="Fury" style="width:100%">
            <h4>Nick</h4>
            <p class="title"> Commentator</p>
        </div>
    </div>
    <div class="column2">
        <div class="content">
            <img src="~/images/p2.jpg" alt="John" style="width:100%">
            <h4>John</h4>
            <p class="title"> Commentator </p>
        </div>
    </div>
    <div class="column2">
        <div class="content">
            <img src="~/images/p3.jpg" alt="Hulk" style="width:100%">
            <h4>Bruce</h4>
            <p class="title"> Bodyguard</p>
        </div>
    </div>
    <div class="column2">
        <div class="content">
            <img src="~/images/p4.jpg" alt="Admin" style="width:100%">
            <h4>Levi Hackerman</h4>
            <p class="title"> Site administrator</p>
        </div>
    </div>
</div>

<h2>Disclaimer</h2>

<p>
    <ol>
        <li>Gambling involves risk. Please only gamble with funds that you can afford to lose.</li>
        <li>No guarantees are made wit regards to results or financial gain. All forms of betting carry financial risk and it is down to the individual to make bets with or without the assistance of information provided on this site.</li>
        <li>Past performances do not guarantee success in the future. There are no dead certainties when it come to betting so only risk money that you can comfortable afford to lose</li>
        <li>We are not responsible in any way, shape or form for any injuries sustained during combat.</li>
    </ol>
</p>