@{
    ViewData["Title"] = "Contact information";
}
<h2>@ViewData["Title"]</h2>
<hr />
<h3>@ViewData["Message"]</h3>

<address>
    Aincrad City<br />
    Survival street, floor 13<br />
    Phone: +40770/312/666
    <br />
    <img src="~/images/adress.png" alt="404 img not found" style="width:25%" />
</address>

<address>
    E-mail: <a href="mailto:saogm@swordland.com">saogm@swordland.com</a><br />
</address>

