@{
    ViewData["Title"] = "Home";
}

<h2 class="whatsnew__title p-space-b--big">Welcome to Swordland!</h2>
<hr />


<video width="900" height="320" controls="controls" autoplay="autoplay">
    <source src="~/images/fight.mp4" type="video/mp4" />
    Your browser does not support the video tag.
</video>

<hr>



<div class="container">
    <h2>Enter the world of skilled swordsmen and breathtaking combat!</h2>
    <div class="col-md-5">
        <p>
            <ul>
                <li>Watch your favourite champions in combat!</li>
                <li>Bet on your favourite champion</li>
                <li>If you're brave enough, enter the arena yourself!</li>
            </ul>
        </p>
    </div>
</div>
